# Виртуальное окружение
env/
venv/
.venv/

# База данных (локальная)
db.sqlite3

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Логи
*.log

# VSCode / IDE
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db

# Deploy
deploy/
deploy/*

# Секреты и локальные настройки
.env
scraper_config.yaml

#
/downloads/*
.chrome/*